<!-- 
    <div class="example-container">

        <mat-form-field>
          <input matInput placeholder="Name" required>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Code" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field>
          <textarea matInput placeholder="Comments"></textarea>
        </mat-form-field>

        <button mat-button>Add</button>
        <button mat-button>Dismiss</button>
    
      </div> -->

