<mat-card>
        <mat-card-title>Edit Risk</mat-card-title>
        <mat-card-content>
            <form class="example-container" [formGroup]="riskForm">
                <mat-form-field>
                  <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Reference" formControlName="reference" [errorStateMatcher]="matcher">
                </mat-form-field>

                <mat-form-field  class="example-full-width">
                    <mat-select placeholder="Type" formControlName="type">
                      <mat-option *ngFor="let choice of choices | async" [value]="choice.ID">
                        {{ choice.label }}
                      </mat-option>
                    </mat-select>
            </mat-form-field>

                <!-- <mat-form-field>
                    <textarea matInput placeholder="Description" formControlName="description" [froalaEditor]="options" [errorStateMatcher]="matcher"></textarea>
                </mat-form-field> -->

                <div #description>
                  <pell-editor #description (onChange)="handleDescription($event)"></pell-editor>
                </div>
                
                <mat-form-field  class="example-full-width">
                    <mat-select placeholder="Root risk" formControlName="root">
                      <mat-option *ngFor="let risk of risks | async" [value]="risk.ID">
                        {{ risk.title }} - {{ risk.reference }}
                      </mat-option>
                    </mat-select>
            </mat-form-field>

              </form>
        </mat-card-content>
    <mat-card-actions>
            <button class="mat-accent" mat-raised-button color="primary" [disabled]="riskForm.invalid" (click)="editRisk()">Edit</button>
            <button class="mat-cancel" mat-raised-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
 
        


