<mat-card>
    <mat-card-title>
        <h2>Add New Risk</h2>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="riskForm">
            <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Reference" formControlName="reference" [errorStateMatcher]="matcher">
            </mat-form-field>

            <mat-form-field  class="example-full-width">
                    <mat-select placeholder="Type" formControlName="type">
                      <mat-option *ngFor="let choice of choices | async" [value]="choice.ID">
                        {{ choice.label }}
                      </mat-option>
                    </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" [froalaEditor]="options" [errorStateMatcher]="matcher"></textarea>
            </mat-form-field> -->

            <pell-editor (onChange)="handleDescription($event)"></pell-editor>

            <mat-form-field  class="example-full-width">
                    <mat-select placeholder="Root risk" formControlName="root">
                      <mat-option *ngFor="let risk of risks | async" [value]="risk.ID">
                        {{ risk.title }} - {{ risk.reference }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="riskForm.invalid" (click)="addRisk()">Add</button>
        <button mat-raised-button color="accent" style="margin-top:5px;" (click)="cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
       

