<mat-card>

<mat-card-title><h2>Users list</h2></mat-card-title>

<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

<mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
        <mat-cell *matCellDef="let person">{{person.firstname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
            <mat-cell *matCellDef="let person">{{person.lastname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let person">{{person.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let person">
                <button mat-button (click)="display(person)">
                    <mat-icon _ngcontent-c79="" class="mat-icon material-icons" role="img" aria-hidden="true">visibility</mat-icon>
                </button>
                <button mat-button (click)="edit(person)" [disabled]="!(loggedIn | async)">
                    <mat-icon _ngcontent-c79="" class="mat-icon material-icons" role="img" aria-hidden="true">border_color</mat-icon>
                </button>
                <button mat-button (click)="delete(person)" [disabled]="!(loggedIn | async)">
                    <mat-icon _ngcontent-c79="" class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
                </button>
            </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
                [pageSize]="5"
                [pageSizeOptions]="[2, 5, 10]"
                [showFirstLastButtons]="true">
</mat-paginator>


<ng-container *ngIf="error | async">
    <p>An error occured with the request</p>
</ng-container>
</mat-card>

<button class="mat-raised-button mat-accent" (click)="add()" [disabled]="!(loggedIn | async)">+ Add User</button>
