<mat-card>
  <mat-card-title>
    <h3>Document Detail</h3>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item><strong>Title : </strong>{{ document.title }}</mat-list-item>
      <mat-list-item><strong>Code : </strong>{{ document.code }}</mat-list-item>
      <mat-list-item><strong>Category : <ng-container *ngIf="(category$ | async) as cat">{{ cat.label }}</ng-container></strong></mat-list-item>
      <mat-list-item *ngIf="document.filePath && document.filePath !== ''"><button mat-raised-button (click)="download(document)">Download document</button></mat-list-item>
      <mat-list-item *ngIf="document.filePath && document.filePath.endsWith('pdf')"><button mat-raised-button (click)="preview(document)">Preview</button></mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
    <!-- <button mat-raised-button color="primary" (click)="edit()">Edit</button> -->
  </mat-card-actions>
</mat-card>
